@font-face {
	font-family: 'source-han-sans-simplified-c';
	src: url('./assets/font/source-han-sans-simplified-c.eot'); /* IE9 */
	src: url('./assets/font/source-han-sans-simplified-c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('./assets/font/source-han-sans-simplified-c.woff') format('woff'), /* chrome、firefox */
	url('./assets/font/source-han-sans-simplified-c.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('./assets/font/source-han-sans-simplified-c.svg#source-han-sans-simplified-c') format('svg'); /* iOS 4.1- */
}


html {
	height: 600px;
	width: 400px;
	overflow: hidden;
	font-family: 'source-han-sans-simplified-c', sans-serif;
}

body {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #ccc;
	user-select: none;
}